.card-body {
    color: blue;
    font-weight: bold;
}

.card {
    margin-top: 50px;
}

.sun-icon {
    color: yellow;
    font-size: 100px;
}

.col-12 {
    color: blue;
    font-weight: lighter;
}

.col-6 {
    font-weight: lighter;
}

.col-md-8 {
    color: blue;
    font-weight: lighter;
}

.col-4 {
    margin-top: 100px;
}

.class-degre {
    color: blue;
    font-size: 25px;
    margin-left: 30px;
    font-weight: lighter;
}

.container-2 {
    margin: 10px;
    margin-top: 20px;
}

.sun-icon-2 {
    color: yellow;
    font-size: 28px;
}

.cloud-icon {
    font-size: 24px;
}

.cloud-rain-icon {
    font-size: 24px;
}

.list-group list-group-horizontal {
    margin-right: 10px;
}

.col-4 {
    margin-bottom: 50px;
    margin-top: 50px;
    margin: right 8px;
}

.col-4 {
    margin-bottom: 50px;
    margin-top: 50px;
    font-size: 23px;
}

.col-8 {
    font-size: 20px;
    display: inline;
}

.degree {
    font-size-adjust: 1000px;
}