.card-body {
    color: blue;
    font-weight: bold;
}

.card {
    margin-top: 50px;  
    border-radius: 10px;
    width: 70%;
  
}

.sun-icon {
    color: yellow;
    font-size: 100px;
}

/* 
.class-degre {
    color: blue;
    font-size: 25px;
    margin-left: 30px;
    font-weight: lighter;
    
} */

.container-2 {
    margin: 10px;
    margin-top: 20px;
    margin-right: 10px;
}

.sun-icon-2 {
    color: yellow;
    font-size: 28px;
}

.cloud-icon {
    font-size: 24px;
}

.cloud-rain-icon {
    font-size: 24px;
}


#degree {
    font-size: 40px;
    color: blue;

}

    
.units{
    position: relative;
    font-size: 15px;
    top: -20px;
}